html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: Raleway;
    overflow: hidden;
}

body {
    margin: 0 5% 3%;

    background: rgb(143, 143, 143);
}

h1, h2, h3, h4, span, button {
    color: rgb(143, 143, 143); 
    mix-blend-mode: difference;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    mix-blend-mode: difference;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    z-index: 1000;
    height: 100%;
}

svg {
    cursor: pointer;
}

.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: -350px;
    overflow-y: auto;
    height: 75%;
    width: 250px;
    padding-bottom: 30px;
}

.links h4 {
    margin: 20px 0 10px;

    font-style: italic;
    font-size: 2.5rem;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.links button {
    width: 200px;
    margin-bottom: 5px;

    cursor: pointer;
    text-decoration: underline;
}

.links button span {
    color: black;
    mix-blend-mode: unset;
}

h1 {
    font-size: 3rem;
    cursor: default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 100px;
}

h1 div {
    padding-right: 20px;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

h1 span:hover {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
}

h3 {
    font-size: 1.5rem;
    font-style: italic;
}

button {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;

    font-family: Raleway;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

.slide .bg {
    position: fixed;
    width: 120%;
    top: -10%;
    left: -10%;
    z-index: -1000;

    -webkit-filter: blur(8px);

            filter: blur(8px);
    overflow: hidden;
}

.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.container .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
}

.container .left button {
    background: none;
    border: 1px solid rgb(143, 143, 143);
    cursor: pointer;
    font-size: 2.5rem;
}

.container img {
    height: 30%;
    max-width: 50%;
    max-height: 600px;

    border: 2px solid white;
}